[Desktop Entry]
Encoding=UTF-8
Name=Link to View Image
Type=Link
URL=http://r.search.yahoo.com/_ylt=AwrEx61NJpJaN2cAhsejzbkF;_ylu=X3oDMTBpcGszamw0BHNlYwNmcC1pbWcEc2xrA2ltZw--/RV=2/RE=1519556301/RO=11/RU=https%3a%2f%2fs-media-cache-ak0.pinimg.com%2f564x%2f79%2fe7%2fb6%2f79e7b6bf29a601ad8b82b6c44bc5c845.jpg/RK=2/RS=eVqNU8JK1xFOr9jOSUqA8m2GuWk-
Icon=text-html
